<!-- Main Container -->
<main id="main-container">
    <!-- Page Header -->
    <div class="content bg-image overflow-hidden" style="background-image: url('assets/img/photos/photo3@2x.jpg');">
        <div class="push-50-t push-15">
            <h1 class="h2 text-white animated zoomIn">History</h1>
            <h2 class="h5 text-white-op animated zoomIn">Connected to {{ clientName }}</h2>
        </div>
    </div>
    <!-- END Page Header -->

    <!-- Stats -->
    <div class="content bg-white border-b">
        <div class="row items-push text-uppercase">
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn">Datapoints in last 10min</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> click to refresh</small></div>
                <a class="h2 font-w300 text-primary animated flipInX" ng-click="getCount()" style="cursor: pointer">{{ count }}</a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn">Connected Device</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Identifier</small></div>
                <a class="h2 font-w300 text-primary animated flipInX">{{ clientName }}</a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn">Received Datapoints</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Since connection</small></div>
                <a class="h2 font-w300 text-primary animated flipInX">{{ clientMessages }}</a>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="font-w700 text-gray-darker animated fadeIn">Connected at</div>
                <div class="text-muted animated fadeIn"><small><i class="si si-calendar"></i> Initial Connection</small></div>
                <a class="h2 font-w300 text-primary animated flipInX">{{ connectedAt }}</a>
            </div>
        </div>
    </div>
    <!-- END Stats -->

    <!-- Page Content -->
    <div class="content">

        <!-- Controls -->

        <div class="row">
            <div class="col-lg-4">
                <a class="block block-link-hover1" ng-click="history('lastHourByMinute')" style="cursor: pointer">
                    <div ng-class="{'bg-primary': historyType=='lastHourByMinute'}" class="block-content block-content-full clearfix">
                        <i class="fa fa-bar-chart fa-2x text-success pull-right"></i>
                        <span class="h4 font-w700">Last hour</span> <span ng-class="{'text-muted': historyType!='lastHourByMinute', 'text-white-op': historyType=='lastHourByMinute' }" class="h4">by minute</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="block block-link-hover1" ng-class="{active: history=='last24hByHour'}" ng-click="history('last24hByHour')" style="cursor: pointer">
                    <div ng-class="{'bg-primary': historyType=='last24hByHour'}" class="block-content block-content-full clearfix">
                        <i class="fa fa-bar-chart fa-2x text-warning pull-right"></i>
                        <span class="h4 font-w700">Last 24h</span> <span ng-class="{'text-muted': historyType!='last24hByHour', 'text-white-op': historyType=='last24hByHour' }" class="h4">by hour</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="block block-link-hover1" ng-class="{active: history=='last48hByHour'}" ng-click="history('last48hByHour')" style="cursor: pointer">
                    <div ng-class="{'bg-primary': historyType=='last48hByHour'}" class="block-content block-content-full clearfix">
                        <i class="fa fa-bar-chart fa-2x text-warning pull-right"></i>
                        <span class="h4 font-w700">Last 48h</span> <span ng-class="{'text-muted': historyType!='last48hByHour', 'text-white-op': historyType=='last48hByHour' }" class="h4">by hour</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <a class="block block-link-hover1" ng-class="{active: history=='lastWeekByHour'}" ng-click="history('lastWeekByHour')" style="cursor: pointer">
                    <div ng-class="{'bg-primary': historyType=='lastWeekByHour'}" class="block-content block-content-full clearfix">
                        <i class="fa fa-bar-chart fa-2x text-warning pull-right"></i>
                        <span class="h4 font-w700">Last week</span> <span ng-class="{'text-muted': historyType!='lastWeekByHour', 'text-white-op': historyType=='lastWeekByHour' }" class="h4">by hour</span>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a class="block block-link-hover1" ng-class="{active: history=='lastMonthByDay'}" ng-click="history('lastMonthByDay')" style="cursor: pointer">
                    <div ng-class="{'bg-primary': historyType=='lastMonthByDay'}" class="block-content block-content-full clearfix">
                        <i class="fa fa-bar-chart  fa-2x text-danger pull-right"></i>
                        <span class="h4 font-w700">Last month</span> <span ng-class="{'text-muted': historyType!='lastMonthByDay', 'text-white-op': historyType=='lastMonthByDay' }" class="h4">by day</span>
                    </div>
                </a>
            </div>

            <div class="col-lg-4">
                <a class="block block-link-hover1" ng-class="{active: history=='lastYearByMonth'}" ng-click="history('lastYearByMonth')" style="cursor: pointer">
                    <div ng-class="{'bg-primary': historyType=='lastYearByMonth'}" class="block-content block-content-full clearfix">
                        <i class="fa fa-bar-chart  fa-2x text-gray-dark pull-right"></i>
                        <span class="h4 font-w700">Last year</span> <span ng-class="{'text-muted': historyType!='lastYearByMonth', 'text-white-op': historyType=='lastYearByMonth' }" class="h4">by month</span>
                    </div>
                </a>
            </div>
        </div>

        <!-- END Controls -->

        <div class="row" data-chart-type="{{ chartType.id }}" ng-repeat="chartType in getChartTypes()">
            <div class="col-lg-12">
                <!-- Main Dashboard Chart -->
                <div class="block chart-wrapper block-opt-refresh">
                    <div class="block-header">
                        <h3 class="block-title">{{ chartType.label }}</h3>
                    </div>
                    <div class="block-content block-content-full bg-gray-lighter text-center">
                        <div class="chart-holder" style="height: 325px;"><canvas class="chart"></canvas></div>
                    </div>
                    <div class="block-content text-center">
                        <div class="row items-push text-center">
                            <div class="col-xs-6 col-lg-3">
                                <div class="push-10"><i class="si si-graph fa-2x"></i></div>
                                <div class="h5 font-w300 text-muted">{{ stats[chartType.id].count }} datapoints</div>
                            </div>
                            <div class="col-xs-6 col-lg-3">
                                <div class="push-10"><i class="si si-users fa-2x"></i></div>
                                <div class="h5 font-w300 text-muted">Min value: {{ stats[chartType.id].min }}</div>
                            </div>
                            <div class="col-xs-6 col-lg-3 visible-lg">
                                <div class="push-10"><i class="si si-star fa-2x"></i></div>
                                <div class="h5 font-w300 text-muted">Max value: {{ stats[chartType.id].max }}</div>
                            </div>
                            <div class="col-xs-6 col-lg-3 visible-lg">
                                <div class="push-10"><i class="si si-share fa-2x"></i></div>
                                <div class="h5 font-w300 text-muted">Average: {{ stats[chartType.id].avg }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Main Dashboard Chart -->
            </div>
        </div>

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->