<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed" ng-controller="IoTHistoryCtrl">

    <div ng-include src="'templates/chunks/sidebar.html'"></div>

    <div ng-include src="'templates/chunks/header.html'"></div>

    <!-- main content -->
    <div ng-include src="'templates/history/history-main.html'" onload="chartsLoaded()"></div>
    <!-- END main content -->

    <div ng-include src="'templates/chunks/footer.html'"></div>
</div>
<!-- END Page Container -->