<!-- Page Content -->
<div class="content">

    <!-- Controls -->

    <div class="row">
        <div class="col-lg-4">
            <a class="block block-link-hover1" ng-click="history('lastHourByMinute')" style="cursor: pointer">
                <div ng-class="{'bg-primary': historyType=='lastHourByMinute'}" class="block-content block-content-full clearfix">
                    <i class="fa fa-bar-chart fa-2x text-success pull-right"></i>
                    <span class="h4 font-w700">Last hour</span> <span ng-class="{'text-muted': historyType!='lastHourByMinute', 'text-white-op': historyType=='lastHourByMinute' }" class="h4">by minute</span>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a class="block block-link-hover1" ng-class="{active: history=='last24hByHour'}" ng-click="history('last24hByHour')" style="cursor: pointer">
                <div ng-class="{'bg-primary': historyType=='last24hByHour'}" class="block-content block-content-full clearfix">
                    <i class="fa fa-bar-chart fa-2x text-warning pull-right"></i>
                    <span class="h4 font-w700">Last 24h</span> <span ng-class="{'text-muted': historyType!='last24hByHour', 'text-white-op': historyType=='last24hByHour' }" class="h4">by hour</span>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a class="block block-link-hover1" ng-class="{active: history=='last48hByHour'}" ng-click="history('last48hByHour')" style="cursor: pointer">
                <div ng-class="{'bg-primary': historyType=='last48hByHour'}" class="block-content block-content-full clearfix">
                    <i class="fa fa-bar-chart fa-2x text-warning pull-right"></i>
                    <span class="h4 font-w700">Last 48h</span> <span ng-class="{'text-muted': historyType!='last48hByHour', 'text-white-op': historyType=='last48hByHour' }" class="h4">by hour</span>
                </div>
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-4">
            <a class="block block-link-hover1" ng-class="{active: history=='lastWeekByHour'}" ng-click="history('lastWeekByHour')" style="cursor: pointer">
                <div ng-class="{'bg-primary': historyType=='lastWeekByHour'}" class="block-content block-content-full clearfix">
                    <i class="fa fa-bar-chart fa-2x text-warning pull-right"></i>
                    <span class="h4 font-w700">Last week</span> <span ng-class="{'text-muted': historyType!='lastWeekByHour', 'text-white-op': historyType=='lastWeekByHour' }" class="h4">by hour</span>
                </div>
            </a>
        </div>

        <div class="col-lg-4">
            <a class="block block-link-hover1" ng-class="{active: history=='lastMonthByDay'}" ng-click="history('lastMonthByDay')" style="cursor: pointer">
                <div ng-class="{'bg-primary': historyType=='lastMonthByDay'}" class="block-content block-content-full clearfix">
                    <i class="fa fa-bar-chart  fa-2x text-danger pull-right"></i>
                    <span class="h4 font-w700">Last month</span> <span ng-class="{'text-muted': historyType!='lastMonthByDay', 'text-white-op': historyType=='lastMonthByDay' }" class="h4">by day</span>
                </div>
            </a>
        </div>

        <div class="col-lg-4">
            <a class="block block-link-hover1" ng-class="{active: history=='lastYearByMonth'}" ng-click="history('lastYearByMonth')" style="cursor: pointer">
                <div ng-class="{'bg-primary': historyType=='lastYearByMonth'}" class="block-content block-content-full clearfix">
                    <i class="fa fa-bar-chart  fa-2x text-gray-dark pull-right"></i>
                    <span class="h4 font-w700">Last year</span> <span ng-class="{'text-muted': historyType!='lastYearByMonth', 'text-white-op': historyType=='lastYearByMonth' }" class="h4">by month</span>
                </div>
            </a>
        </div>
    </div>

    <!-- END Controls -->

    <div class="row" data-chart-type="{{ chartType.id }}" ng-repeat="chartType in chartTypes">
        <div class="col-lg-12">
            <!-- Main Dashboard Chart -->
            <div class="block chart-wrapper block-opt-refresh">
                <div class="block-header">
                    <h3 class="block-title">{{ chartType.label }}</h3>
                </div>
                <div class="no-data-text">No data yet</div>
                <div class="block-content block-content-full bg-gray-lighter text-center">
                    <div class="chart-holder"><canvas class="chart"></canvas></div>
                </div>
                <div class="block-content text-center chart-details">
                    <div class="row items-push text-center">
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-graph fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">{{ stats[chartType.id].count }} datapoints</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-users fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Min value: {{ stats[chartType.id].min }}</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-star fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Max value: {{ stats[chartType.id].max }}</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-share fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Average: {{ stats[chartType.id].avg }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Main Dashboard Chart -->
        </div>
    </div>

</div>
<!-- END Page Content -->