<!-- Page Container -->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed" ng-controller="IoTIndexCtrl">

    <div ng-include src="'templates/_chunks/sidebar.html'"></div>

    <div ng-include src="'templates/_chunks/header.html'"></div>

    <!-- main content -->
    <div ng-include src="'templates/index/index-main.html'"></div>
    <!-- END main content -->

    <div ng-include src="'templates/_chunks/footer.html'"></div>

    <div ng-include src="'templates/_chunks/popup.html'" onload="errorMessageQuery()"></div>
</div>
<!-- END Page Container -->