<!-- Main Container -->
<main id="main-container">
    <!-- Page Header -->
    <div class="content bg-gray-lighter">
        <div class="row items-push">
            <div class="col-sm-7">
                <h1 class="page-heading">
                    Devices <small>Currently connected IoT Devices.</small>
                </h1>
            </div>
        </div>
    </div>
    <!-- END Page Header -->

    <!-- Page Content -->
    <div class="content">
        <!-- User Widgets -->
        <h2 class="content-heading">{{ clients.length }} currently connected IoT Devices</h2>

        <!-- User Image Widgets -->
        <div class="row">
            <div class="col-sm-6 col-lg-3" ng-repeat="client in clients">
                <a class="block block-link-hover2" href="#dashboard/{{ client.id }}" data-toggle="tooltip" data-placement="right" title="IP: {{ client.address }}">
                    <div class="block-content block-content-full text-center bg-image" style="background-image: url('assets/img/photos/photo17.jpg');">
                        <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar15.jpg" alt="">
                    </div>
                    <div class="block-content block-content-full text-center">
                        <div class="font-w600 push-5">{{ client.client_name }}</div>
                        <div class="text-muted">Connected at: {{ client.connected_at }}</div>
                    </div>
                </a>
            </div>

        </div>
        <!-- END User Image Widgets -->
        <!-- END User Widgets -->

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->