<!-- Page Content -->
<div class="content">

    <!-- User Image Widgets -->
    <div class="col-lg-12">
        <div class="block block-themed">
            <div class="block-header bg-primary">
                <ul class="block-options">
                    <li>
                        <button ng-click="init()"><i class="fa fa-repeat"></i> Reload</button>
                    </li>
                </ul>
                <h3 class="block-title">
                    {{ clients.length }} currently connected IoT Devices
                </h3>
            </div>
            <div class="block-content">
                <p ng-show="clients.length == 0">No devices are currently connected. Try refreshing.</p>

                <div class="row">
                    <div class="col-sm-6 col-lg-3" ng-repeat="client in clients">
                        <a class="block block-link-hover2" style="cursor:pointer" ng-click="loadDashboard(client.client_name)" data-toggle="tooltip" data-placement="right" title="IP: {{ client.address }}">
                            <div class="block-content block-content-full text-center bg-image" style="background-image: url('assets/img/photos/photo{{ randImage }}.jpg');">
                                <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar15.jpg" alt="">
                            </div>
                            <div class="block-content block-content-full text-center bg-gray-light">
                                <div class="font-w600 push-5">{{ client.client_name }}</div>
                                <div class="text-muted">Started at: {{ client.connected_at }}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>