<!-- Page Content -->
<div class="content">
    <div class="row" ng-init="refreshData(chartType.id)" data-chart-type="{{ chartType.id }}" ng-repeat="chartType in chartTypes">
        <div class="col-lg-12">
            <!-- Main Dashboard Chart -->
            <div class="block chart-wrapper block-opt-refresh">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button ng-click="refreshData(chartType.id)" type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">{{ chartType.label }}</h3>
                </div>
                <div class="block-content block-content-full bg-gray-lighter text-center">
                    <div class="chart-holder"><canvas class="chart"></canvas></div>
                </div>
                <div class="block-content text-center chart-details">
                    <div class="row items-push text-center">
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-graph fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">{{ stats[chartType.id].count }} datapoints</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-users fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Min value: {{ stats[chartType.id].min }}</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-star fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Max value: {{ stats[chartType.id].max }}</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-share fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Average: {{ stats[chartType.id].avg }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Main Dashboard Chart -->
        </div>
    </div>
</div>