<!-- Page Content -->
<div class="content">

    <div class="block">
        <div class="block-header">
            <div class="block-options-simple">
                <button ng-show="!streamActive && !videoActive" class="btn btn-xs btn-success" ng-click="camera(1)"><i class="fa fa-repeat"></i> Start Stream</button>
                <button ng-show="streamActive" class="btn btn-xs btn-danger" ng-click="camera(0)"><i class="fa fa-repeat"></i> Stop Stream</button>
                <button ng-show="!streamActive && !videoActive" class="btn btn-xs btn-primary" ng-click="video()"><i class="fa fa-video-camera"></i> Record Video</button>
            </div>
            <h3 class="block-title">Camera Management</h3>
        </div>
        <div class="block-content text-white">
            <p ng-show="!streamActive && !videoActive" class="text-black">Press "Start Stream" to activate the camera.</p>

            <div class="alert alert-info" ng-show="!streamActive && videoActive">
                <p>Currently recording video for {{ videoActive }}s, please wait ...</p>
            </div>

            <div class="row">
                <div class="col-sm-9 col-lg-6" ng-show="streamActive">
                    <div class="block block-themed">
                        <div class="block-header bg-primary-light">
                            <h3 class="block-title">{{ streamTime }}</h3>
                        </div>
                        <div class="block-content bg-gray-light" style="text-align:center; padding-bottom: 20px;">
                            <img src="" id="stream" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h3 class="block-title">Servo Management</h3>
        </div>
        <div class="block-content text-white">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="servo(1)">
                        <div class="block-content block-content-full bg-success">
                            <i class="fa fa-industry fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Enable Servo</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="servo(0)">
                        <div class="block-content block-content-full bg-danger">
                            <i class="fa fa-industry fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Disable Servo</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h3 class="block-title">LED Management</h3>
        </div>
        <div class="block-content text-white">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="led(1)">
                        <div class="block-content block-content-full bg-danger">
                            <i class="si si-bulb  fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Flash LED Red</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="led(2)">
                        <div class="block-content block-content-full bg-success">
                            <i class="si si-bulb fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Flash LED Green</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h3 class="block-title">Music, Voice and Sound</h3>
        </div>
        <div class="block-content text-white">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2" id="music">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="music()">
                        <div class="block-content block-content-full bg-danger">
                            <i class="fa fa-music fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Play Music</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="stopMusic()">
                        <div class="block-content block-content-full bg-gray-dark">
                            <i class="fa fa-music fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Stop Music</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="voice()">
                        <div class="block-content block-content-full bg-success">
                            <i class="fa fa-microphone fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Text To Speech</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h3 class="block-title">Youtube Download</h3>
        </div>
        <div class="block-content text-white">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="youtube()">
                        <div class="block-content block-content-full bg-danger">
                            <i class="fa fa-youtube fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Youtube Download</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h3 class="block-title">Heating Control</h3>
        </div>
        <div class="block-content text-white">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="zwaveTemp()">
                        <div class="block-content block-content-full bg-primary">
                            <i class="fa fa-sun-o fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Z-Wave Thermostat</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="homematicTemp()">
                        <div class="block-content block-content-full bg-modern">
                            <i class="fa fa-sun-o fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Homematic Thermostat</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h3 class="block-title">LED Strip</h3>
        </div>
        <div class="block-content text-white">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="colorParty()">
                        <div class="block-content block-content-full bg-modern-light">
                            <i class="si si-magic-wand fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Color Party</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" colorpicker="rgb" ng-model="rgbPicker">
                        <div class="block-content block-content-full" style="background: {{ rgbPicker }}">
                            <i class="si si-magic-wand fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Single Color</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="randomColor()">
                        <div class="block-content block-content-full bg-amethyst">
                            <i class="si si-magic-wand fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Random Color</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2" id="lightshow">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="lightshow()">
                        <div class="block-content block-content-full bg-danger">
                            <i class="fa fa-music fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Sound Lightshow</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="allOff()">
                        <div class="block-content block-content-full bg-gray-dark">
                            <i class="si si-magic-wand fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Turn Off</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="block-header">
            <h3 class="block-title">Remote Control Switch Management</h3>
        </div>
        <div class="block-content text-white">

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="rcSwitch(1, 1)">
                        <div class="block-content block-content-full bg-success">
                            <i class="fa fa-bolt fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Turn on Switch 1</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="rcSwitch(2, 1)">
                        <div class="block-content block-content-full bg-success">
                            <i class="fa fa-bolt fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Turn on Switch 2</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="rcSwitch(3, 1)">
                        <div class="block-content block-content-full bg-success">
                            <i class="fa fa-bolt fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Turn on RC Switch 3</div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="rcSwitch(1, 0)">
                        <div class="block-content block-content-full bg-warning">
                            <i class="fa fa-bolt fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Turn off Switch 1</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="rcSwitch(2, 0)">
                        <div class="block-content block-content-full bg-warning">
                            <i class="fa fa-bolt fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Turn off Switch 2</div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <a style="cursor: pointer" class="block block-link-hover2 text-center" ng-click="rcSwitch(3, 0)">
                        <div class="block-content block-content-full bg-warning">
                            <i class="fa fa-bolt fa-4x text-white"></i>
                            <div class="font-w600 text-white-op push-15-t">Turn off Switch 3</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END Page Content -->