<!-- Page Content -->
<div class="content">
    <div class="row" ng-init="refreshData(chartType.id)" data-chart-type="{{ chartType.id }}" ng-repeat="chartType in getChartTypes()">
        <div class="col-lg-12">
            <!-- Main Dashboard Chart -->
            <div class="block block-opt-refresh">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button ng-click="refreshData(chartType.id)" type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">{{ chartType.label }}</h3>
                </div>
                <div class="block-content block-content-full bg-gray-lighter text-center">
                    <div class="chart-holder"><canvas class="chart"></canvas></div>
                </div>
                <div class="block-content text-center">
                    <div class="row items-push text-center">
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-graph fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">{{ stats[chartType.id].count }} datapoints</div>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <div class="push-10"><i class="si si-users fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Min value: {{ stats[chartType.id].min }}</div>
                        </div>
                        <div class="col-xs-6 col-lg-3 visible-lg">
                            <div class="push-10"><i class="si si-star fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Max value: {{ stats[chartType.id].max }}</div>
                        </div>
                        <div class="col-xs-6 col-lg-3 visible-lg">
                            <div class="push-10"><i class="si si-share fa-2x"></i></div>
                            <div class="h5 font-w300 text-muted">Average: {{ stats[chartType.id].avg }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Main Dashboard Chart -->
        </div>
    </div>

    <div class="block block-themed" ng-show="youtubeLog" id="youtubeLog">
        <div class="block-header bg-city">
            <h3 class="block-title">Youtube Download</h3>
        </div>
        <div class="block-content">

            <div ng-show="downloading" class="block-content block-content-full clearfix bg-gray-light" style="margin-bottom: 5px">
                <i class="fa-2x text-muted pull-right fa fa-asterisk fa-spin text-danger"></i>
                <span class="h4 font-w700">Loading</span> <span class="h4 text-muted">Please wait ...</span>
            </div>

            <div ng-repeat="log in youtubeLog" class="block-content block-content-full clearfix bg-gray-light" ng-class="{ 'text-info': log.type == 'info', 'text-danger': log.type == 'error', 'text-success': log.type == 'success' }" style="margin-bottom: 5px">
                <i class="fa-2x text-muted pull-right si" ng-class="{ 'si-info': log.type == 'info', 'si-fire': log.type == 'error', 'si-like': log.type == 'success' }"></i>
                <span class="h4 font-w700">{{ log.date }}</span> <span class="h4 text-muted">{{ log.text }}</span>
            </div>
        </div>
    </div>

    <div id="audiocontainer" class="block block-opt-refresh">
        <div class="table-responsive">
            <table class="table table-striped table-vcenter table-hover">
                <thead>
                <tr>
                    <th class="text-center" style="width: 120px;"><i class="fa fa-music"></i></th>
                    <th>Filename</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Music</th>
                    <th>Lightshow</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="audio in audios" data-filename="{{ audio.fileName }}">
                        <td class="text-center">
                            <i class="fa fa-music fa-4x"></i>
                        </td>
                        <td>{{ audio.fileName }}</td>
                        <td class="font-w600">{{ audio.date }}</td>
                        <td>
                            <span class="label label-success">{{ audio.extension }}</span>
                        </td>
                        <td>
                            <button ng-click="playAudio(audio.fileName)" class="btn btn-danger" type="button"><i class="fa fa-music"></i> Play as Music</button>
                        </td>
                        <td>
                            <button ng-click="playLightshow(audio.fileName)" class="btn btn-primary" type="button"><i class="fa fa-lightbulb-o"></i> Play as Lightshow</button>
                        </td>
                        <td>
                            <button ng-click="deleteFile(audio.fileName)" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove Client"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>